body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  

}

table
{
	margin: auto;
    width: 20%;
    border: 3px solid lightblue;
    padding: 10px;
    background-color: lightblue;
}
th
{
  background-color:aqua;
  width:300px;
}
td
{
  background-color: white;
  text-align: center;
  width:300px;
}
input {
	margin: 5px;
	background-color: red;
	  border-radius: 10px;
	  color:blue;
	  height: 30px;

    
}

button {
  background-color: green;
  border: none;
  color: white;

  text-align: center;
  font-color:blue;
  font:helvetica;
  font-size: 16px;
width:130px;
height: 60px;
  opacity: 0.6;
  transition: 0.9s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1}

#obrisi
{
  background-color: red;
  float:right;
 
  margin-top:5px;
  margin-bottom: 5px;
}
#edit
{
  float:left;
}